@mixin media {
    @media screen and (max-width: 786px) {
        #content-dekstop{
          display: none;
        }
        .india{
            text-align: center;
        }
        #logo-mobile{
            @include flextype(center);
            margin: auto;
            width: 60%;
        }
        #mobile-search{
            @include flextype(center);
            margin-top: 25px;
            height: 35px;
            width: 80%;
            align-self: center;
            border: 1px solid rgba(0, 0, 0, 0.151);
            border-radius: 30px;
            &:focus{
                outline: none;
                box-shadow: 1px 1px 5px $search-border;
            }
            &:hover{
                box-shadow: 1px 1px 5px $search-border;
            }
    
        }
    
      }
    
}